version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: marketplace-db
    environment:
      POSTGRES_DB: marketplace
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
    ports:
      - "5433:5432"
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1G
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/01_init.sql
      - ./generate_big_data.sql:/docker-entrypoint-initdb.d/02_generate_big_data.sql
      - ./host_replica.sh:/docker-entrypoint-initdb.d/03_replica.sh
    networks:
      - network
    command: ["postgres", "-c", "wal_level=logical", "-c", "max_wal_senders=10", "-c", "max_replication_slots=10"]
    

  postgres_subscriber:
    image: postgres:15
    container_name: marketplace-subscriber
    environment:
      POSTGRES_DB: marketplace
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_sub:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/00_init_schema.sql
      - ./sub_replica.sh:/docker-entrypoint-initdb.d/01_replica.sh
    networks:
      - network
    depends_on:
      - postgres

volumes:
  postgres_data:
  postgres_data_sub:

networks:
  network:
    driver: bridge